@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">


        <div class="col-md-12">
            <div class="table-responsive">


                <table id="mytable" class="table table-hover table-dark table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th><p style="font-size: 150%;">Project Name</p></th>
                            <th align="right">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Enter New Project Name Here" id="newProjectForm">
                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-success" onclick="myFunction()">
                                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                            Create New Project
                                        </button>
                                    </div>
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        
                        <tr>
                            <td><p><strong>ProjectName 1A</strong></p></td>
                            <td><button type="button" class="btn btn-primary" id="reqButton">View REQ
                                    <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                              </button></td>
                            <td><button type="button" class="btn btn-info" data-toggle="modal" data-target="#viewDetailsModal">View Details
                                    <span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
                                </button></td>
                            <td>
                                <button type="button" class="btn btn-danger" onclick='DeleteRowFunction(this)'>
                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                </button>
                            </td>
                        </tr>

                        <tr>
                            <td><p><strong>ProjectName 2B</strong></p></td>
                            <td><button type="button" class="btn btn-primary ">View REQ
                                    <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                                </button></td>
                            <td><button type="button" class="btn btn-info" data-toggle="modal" data-target="#viewDetailsModal">View Details
                                    <span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
                                </button></td>
                            <td>
                                <button type="button" class="btn btn-danger" onclick='DeleteRowFunction(this)'>
                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                </button>
                            </td>
                        </tr>


                        <tr>
                            <td><p><strong>ProjectName 3C</strong></p></td>
                            <td><button type="button" class="btn btn-primary">View REQ
                                    <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                                </button></td>
                            <td><button type="button" class="btn btn-info" data-toggle="modal" data-target="#viewDetailsModal">View Details
                                    <span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
                                </button></td>
                            <td><button type="button" class="btn btn-danger" onclick='DeleteRowFunction(this)'>
                                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                </button></td>
                        </tr>



                        <tr>
                            <td><p><strong>ProjectName 4D</strong></p></td>
                            <td>
                            <button type="button" class="btn btn-primary">
                            View REQ
                                <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                            </button>
                            </td>
                            <td><button type="button" class="btn btn-info" data-toggle="modal" data-target="#viewDetailsModal">                                    
                                View Details
                                    <span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
                                </button></td>
                            <td>
                                <button type="button" class="btn btn-danger" onclick='DeleteRowFunction(this)'>
                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                </button>
                            </td>
                        </tr>


                        <tr>
                            <td><p><strong>ProjectName 5E</strong></p></td>
                            <td><button type="button" class="btn btn-primary">View REQ
                                    <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                                </button></td>
                            <td><button type="button" class="btn btn-info" data-toggle="modal" data-target="#viewDetailsModal">View Details
                                    <span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
                                </button></td>
                            <td>
                                <button type="button" class="btn btn-danger" onclick='DeleteRowFunction(this)'>
                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                </button>
                            </td>
                        </tr>




                    </tbody>

                </table>

                <!----
                  This is the code for a page select button. I'm assuming we're not using it. But just in case here it is

                  <div class="clearfix"></div>
                <ul class="pagination pull-right">
                    <li class="disabled"><a href="#"><span class="glyphicon glyphicon-chevron-left"></span></a></li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-chevron-right"></span></a></li>
                </ul>
                  -->
            </div>

        </div>
    </div>
</div>


<div class="modal fade" id="viewDetailsModal" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                <h4 class="modal-title custom_align" id="Heading">View Project Details</h4>
            </div>
            <div class="modal-body">
                <!---Lists the Project Name with the option to edit-->
                 <style>
                     .input-group {
                         margin-bottom: 30px;
                     }

                     .panel {
                         margin-top: 50px;
                         margin-bottom: 75px;
                     }
                 </style>
                <div class="panel panel-primary">
                    <div class="panel-body pull-left">
                        <h4>Project Name</h4>
                    </div>
                    <div class="btn-group panel-body pull-right">
                        <button type="button" class="btn btn-primary">Edit</button>
                    </div>
                </div>

                <!--Lists the High Level Description with the option to edit-->
                <div class="panel panel-primary">
                    <div class="panel-heading" style="padding-top: 10px;">
                        <h3>High-Level Description</h3>
                    </div>
                    <div class="panel-body">
                        <div class="pull-left"><p><strong>Description Text</strong></p></div>
                        <div class="btn-group pull-right">
                            <button type="button" class="btn btn-primary">Edit</button>
                        </div>
                    </div>
                </div>
                <!--Lists the Owners with the option to edit-->
                <div class="panel panel-primary">
                    <div class="panel-heading" style="padding-top: 10px;">
                        <h3>Owner</h3>
                    </div>
                    <div class="owner">
                        <!--Entering new owner-->
                        <div class="panel-body">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Enter New Owner Here">
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-success">
                                        <span class="glyphicon glyphicon-plus"></span>
                                    </button>
                                </div>
                            </div>

                            <!--Lists of current owner-->
                            <div class="table-responsive">
                                <table id="owner-table" class="table table-hover table-dark table-striped">
                                    <tbody>
                                        <tr>
                                            <td class="col-lg-8"><p><strong>Owner Name</strong></p></td>
                                            <td class="col-lg-1"><button type="button" class="btn btn-primary">Edit</button></td>
                                            <td class="col-lg-1"><button type="button" class="btn btn-danger">Delete</button></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Lists the Team Members with the option to edit-->
                <div class="panel panel-primary">
                    <div class="panel-heading" style="padding-top: 10px;">
                        <h3>Team Members</h3>
                    </div>
                    <div class="team">
                        <!--Entering new team member-->
                        <div class="panel-body">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Enter New Member Here">
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-success">
                                        <span class="glyphicon glyphicon-plus"></span>
                                    </button>
                                </div>
                            </div>

                            <!--Lists of current team members-->
                            <div class="table-responsive">
                                <table id="member-table" class="table table-hover table-dark table-striped">
                                    <tbody>
                                        <tr>
                                            <td class="col-lg-8"><p><strong>Member Name</strong></p></td>
                                            <td class="col-lg-1"><button type="button" class="btn btn-primary">Edit</button></td>
                                            <td class="col-lg-1"><button type="button" class="btn btn-danger">Delete</button></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Lists the Project Risks with the option to edit-->
                <div class="panel panel-primary">
                    <div class="panel-heading" style="padding-top: 10px;">
                        <h3>Risks</h3>
                    </div>
                    <div class="risks">
                        <!--Entering new team member-->
                        <div class="panel-body">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Enter New Risk Here">
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-success">
                                        <span class="glyphicon glyphicon-plus"></span>
                                    </button>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table id="risk-table" class="table table-hover table-dark table-striped">
                                    <tbody>
                                        <tr>
                                            <td class="col-lg-4"><p><strong>Risk Name</strong></p></td>
                                            <td class="col-lg-4"><p><strong>Risk Status</strong></p></td>
                                            <td class="col-lg-1"><button type="button" class="btn btn-primary">Edit</button></td>
                                            <td class="col-lg-1"><button type="button" class="btn btn-danger">Delete</button></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>             
            </div>
            <div class="modal-footer ">
                <button type="button" class="btn btn-warning btn-lg" style="width: 100%;" data-dismiss="modal"><span class="glyphicon glyphicon-ok-sign"></span> Update</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>







<script src="~/js/AddNewProject.js"></script>
