@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">


        <div class="col-md-12">
            <div class="table-responsive">


                <table id="mytable" class="table table-hover table-dark table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th><p style="font-size: 150%;">Project Name</p></th>
                            <th align="right">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Enter New Project Name Here" id="newProjectForm">
                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-success" onclick="myFunction()">
                                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                            Create New Project
                                        </button>
                                    </div>
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <!--Below are the different example projects w/ buttons that link to the respective modals-->
                        <tr>
                            <td><p><strong>User Registration Module</strong></p></td>
                            <td>
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#viewRequirementsModal">
                                    View REQ
                                    <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                                </button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#viewDetailsModal">
                                    View Details
                                    <span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
                                </button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-danger" onclick='DeleteRowFunction(this)'>
                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                </button>
                            </td>
                        </tr>

                        <tr>
                            <td><p><strong>Ordering Vehicle Module</strong></p></td>
                            <td>
                                <button type="button" class="btn btn-primary " data-toggle="modal" data-target="#viewRequirementsModal">
                                    View REQ
                                    <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                                </button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#viewDetailsModal" onclick="project2ModalChange('Tim Watson', 'ProjectOwnerID', 'Andrew Jones', 'Member1', 'Sandra Lockhart', 'Member2', 'Casey Driton', 'Member3', 'Ordering Vehicle Module', 'project_name_header')">
                                    View Details
                                    <span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
                                </button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-danger" onclick='DeleteRowFunction(this)'>
                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                </button>
                            </td>
                        </tr>


                        <tr>
                            <td><p><strong>Payment Module</strong></p></td>
                            <td>
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#viewRequirementsModal">
                                    View REQ
                                    <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                                </button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#viewDetailsModal" onclick="project2ModalChange('Abby Trabing', 'ProjectOwnerID', 'Trent Chald', 'Member1', 'Dex Pilling', 'Member2', 'Hector Green', 'Member3', 'Payment Module', 'project_name_header')">
                                    View Details
                                    <span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
                                </button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-danger" onclick='DeleteRowFunction(this)'>
                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                </button>
                            </td>
                        </tr>



                        <tr>
                            <td><p><strong>User Feedback Module</strong></p></td>
                            <td>
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#viewRequirementsModal">
                                    View REQ
                                    <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                                </button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#viewDetailsModal" onclick="project2ModalChange('Richard Thames', 'ProjectOwnerID', 'Sam Ressing', 'Member1', 'Becca Newsome', 'Member2', 'Daniel Bronner', 'Member3', 'User Feedback Module', 'project_name_header')">
                                    View Details
                                    <span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
                                </button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-danger" onclick='DeleteRowFunction(this)'>
                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                </button>
                            </td>
                        </tr>


                        <tr>
                            <td><p><strong>Customer Service Module</strong></p></td>
                            <td>
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#viewRequirementsModal">
                                    View REQ
                                    <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                                </button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#viewDetailsModal" onclick="project2ModalChange('Jackson Grey', 'ProjectOwnerID', 'Phillip Harkingson', 'Member1', 'Yu Xi', 'Member2', 'Weber Brown', 'Member3', 'Customer Service Module', 'project_name_header')">
                                    View Details
                                    <span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
                                </button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-danger" onclick='DeleteRowFunction(this)'>
                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                </button>
                            </td>
                        </tr>




                    </tbody>

                </table>
                <hr />
                <div class="bottom-bar">
                    All Rights Reserved Project Codes © 2018 | <a href="">Privacy Policy</a> | <a href="">Terms of Service</a>
                </div>

        </div>
    </div>
</div>



@*Project 1 Modal*@
<div class="modal fade" id="viewDetailsModal" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                <h4 class="modal-title custom_align" id="Heading">View Project Details</h4>
            </div>
            <div class="modal-body">
                <!---Lists the Project Name with the option to edit-->
                <style>
                    .input-group {
                        margin-bottom: 30px;
                    }

                    .panel {
                        margin-top: 50px;
                        margin-bottom: 75px;
                    }

                    .row {
                        margin-top: 20px;
                    }

                    #description_edit_group {
                        margin-top: 20px;
                        margin-left: 10px;
                        margin-right: 10px;
                    }

                    #description_submit {
                        margin-top: 10px;
                    }

                    #project_edit_button {
                        display: none;
                    }

                    #description_edit_button {
                        display: none;
                        margin-left: 10px;
                        margin-bottom: 10px;
                    }

                    #tableEditGroup {
                        display: none;
                    }

                    #new_Name {
                        display: none;
                    }

                    #table_save {
                        display: none;
                    }

                    #risk_Edit_group {
                        display: none;
                    }

                    #risk_Edit_Status_group {
                        display: none;
                    }

                    #risk_Name {
                        display: none;
                    }

                    #risk_Status {
                        display: none;
                    }

                    #risk_Save_button {
                        display: none;
                    }
                </style>
                <script>
                    function DeleteRowFunction(obj) {
                        var p = obj.parentNode.parentNode;
                        p.parentNode.removeChild(p);
                    }

                    function addOwnerFunction() {
                        var ownerTable = document.getElementById("myOwnertable");
                        var row = ownerTable.insertRow(1);

                        // Cell 1
                        var ownerName = row.insertCell(-1);
                        var strong = document.createElement("strong");
                        strong.innerHTML = document.getElementById("addOwner").value;
                        ownerName.appendChild(strong);

                        // Cell 2 For Edit Button

                        var editButton = row.insertCell(-1);
                        editButton.innerHTML = "<button type='button' class='btn btn-primary' onclick='table_edit_row()'>Edit</button>"


                        // Cell 3 For Delete Button
                        var deleteButton = row.insertCell(-1);
                        deleteButton.innerHTML = "<button type='button' class='btn btn-danger' onclick='DeleteRowFunction(this)'>Delete</button>"
                    }

                    function addMemberFunction() {
                        var memberTable = document.getElementById("myMembertable");
                        var row = memberTable.insertRow(1);

                        // Cell 1
                        var memberName = row.insertCell(-1);
                        var strong = document.createElement("strong");
                        strong.innerHTML = document.getElementById("addMember").value;
                        memberName.appendChild(strong);

                        // Cell 2 For Edit Button

                        var editButton = row.insertCell(-1);
                        editButton.innerHTML = "<button type='button' class='btn btn-primary' onclick='table_edit()'>Edit</button>"


                        // Cell 3 For Delete Button
                        var deleteButton = row.insertCell(-1);
                        deleteButton.innerHTML = "<button type='button' class='btn btn-danger' onclick='DeleteRowFunction(this)'>Delete</button>"
                    }

                    function addRiskFunction() {
                        var riskTable = document.getElementById("myRisktable");
                        var row = riskTable.insertRow(1);

                        // Cell 1
                        var riskName = row.insertCell(-1);
                        var strong = document.createElement("strong");
                        strong.innerHTML = document.getElementById("addRisk").value;
                        riskName.appendChild(strong);

                        // Cell 2
                        var riskStatus = row.insertCell(-1);

                        var weak = document.createElement("p");
                        weak.innerHTML = "Status: <strong>" + document.getElementById("addRiskStatus").value + "</strong>";

                        riskStatus.appendChild(weak);

                        // Cell 3 For Edit Button

                        var editButton = row.insertCell(-1);
                        editButton.innerHTML = "<button type='button' class='btn btn-primary' onclick='table_edit()'>Edit</button>"


                        // Cell 4 For Delete Button
                        var deleteButton = row.insertCell(-1);
                        deleteButton.innerHTML = "<button type='button' class='btn btn-danger' onclick='DeleteRowFunction(this)'>Delete</button>"
                    }

                    function printing() {

                        var x = document.getElementById("myText").value;
                        document.getElementById("demo").innerHTML = x;
                        document.getElementById("project_name_edit").style.display = "none";
                        document.getElementById("project_name_header").style.display = "none";
                        document.getElementById("project_edit_button").style.display = "inline";
                    }

                    function editing() {
                        document.getElementById("project_name_edit").style.display = "flex";
                        document.getElementById("project_edit_button").style.display = "none";
                    }

                    function description_printing() {

                        var z = document.getElementById("description").value;
                        document.getElementById("description_demo").style.marginTop = "10px";
                        document.getElementById("description_demo").style.marginLeft = "10px";
                        document.getElementById("description_demo").innerHTML = z;
                        document.getElementById("description_edit_group").style.display = "none";
                        document.getElementById("description_edit_button").style.display = "inline";
                    }

                    function description_editing() {

                        document.getElementById("description_edit_group").style.display = "inherit";
                        document.getElementById("description_edit_group").style.marginLeft = "10px";
                        document.getElementById("description_edit_group").style.marginBottom = "10px";
                        document.getElementById("description_edit_button").style.display = "none";

                    }

                    function table_edit_row(obj) {
                        var a = obj.parentNode.parentNode;
                        a.parentNode.table_edit(a);
                    }

                    function table_edit() {

                        var y = document.getElementById("editName").value;
                        document.getElementById("new_Name").innerHTML = y;

                        document.getElementById("tableEditGroup").style.display = "inherit";
                        document.getElementById("name_field").style.display = "none";

                        document.getElementById("table_edit_button").style.display = "none";
                        document.getElementById("table_save").style.display = "table-cell";
                    }

                    function table_save() {


                        document.getElementById("new_Name").style.display = "table-cell";
                        document.getElementById("editName").style.display = "none";
                        document.getElementById("table_edit_button").style.display = "table-cell";
                        document.getElementById("table_save").style.display = "none";
                    }

                    function risk_table_edit() {

                        var r = document.getElementById("editRisk").value;
                        document.getElementById("risk_Name").innerHTML = r;

                        var s = document.getElementById("edit_Risk_Status").value;
                        document.getElementById("risk_Status").innerHTML = s;

                        document.getElementById("risk_Edit_group").style.display = "table-cell";
                        document.getElementById("risk_Edit_Status_group").style.display = "table-cell";

                        document.getElementById("risk_demo").style.display = "none";
                        document.getElementById("status_demo").style.display = "none";

                        document.getElementById("risk_Edit_button").style.display = "none";
                        document.getElementById("risk_Save_button").style.display = "table-cell";
                    }

                    function risk_table_save() {

                        document.getElementById("risk_Name").style.display = "table-cell";
                        document.getElementById("risk_Status").style.display = "table-cell";

                        document.getElementById("risk_Edit_group").style.display = "none";
                        document.getElementById("risk_Edit_Status_group").style.display = "none";

                        document.getElementById("risk_Edit_button").style.display = "table-cell";
                        document.getElementById("risk_Save_button").style.display = "none";
                    }</script>


                <body>
                    <!---Lists the Project Name with the option to edit-->
                    <h3 id="project_name_header">User Registration Module</h3>
                    <h3 id="demo"></h3>
                    <div class="input-group" id="project_name_edit">
                        <input type="text" class="form-control" placeholder="Enter Project Name Here" id="myText">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-success" onclick="printing()">
                                <span>Save</span>
                            </button>
                        </div>
                    </div>
                    <button type="button" class="btn btn-primary" onclick="editing()" id="project_edit_button"><span>Edit</span></button>
                    <!--Lists the High Level Description with the option to edit-->
                    <div class="panel panel-primary">
                        <div class="panel-heading" style="padding-top: 10px;">
                            <h3>High-Level Description</h3>
                        </div>
                        <p id="description_demo"></p>
                        <div class="form-group" id="description_edit_group">
                            <textarea class="form-control" rows="5" placeholder="Enter Description Here" id="description"></textarea>
                            <button type="button" class="btn btn-success" id="description_submit" onclick="description_printing()">
                                <span>Submit</span>
                            </button>
                        </div>
                        <button type="button" class="btn btn-primary" onclick="description_editing()" id="description_edit_button"><span>Edit</span></button>
                    </div>

                    <!--Lists the Owners with the option to edit-->
                    <div class="panel panel-primary">
                        <div class="panel-heading" style="padding-top: 10px;">
                            <h3>Owner</h3>
                        </div>
                        <div class="owner">
                            <!--Entering new owner-->
                            <div class="panel-body">
                                <!--Lists of current owner-->
                                <div class="table-responsive">
                                    <table id="myOwnertable" class="table table-hover table-dark table-striped">
                                        <thead class="thead-dark">
                                            <tr>
                                                <th>
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" placeholder="Enter New Owner Here" id="addOwner">
                                                        <div class="input-group-btn">
                                                            <button type="button" class="btn btn-success" onclick="addOwnerFunction()">
                                                                <span class="glyphicon glyphicon-plus"></span>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="col-lg-8" id="name_field"><p><strong id="ProjectOwnerID">John Doe</strong></p></td>
                                                <td class="col-lg-8" id="new_Name"><p><strong></strong></p></td>

                                                <td id="tableEditGroup">
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" placeholder="Enter New Owner Here" id="editName">
                                                    </div>
                                                </td>
                                                <td id="table_edit_button" class="col-lg-1"><button type="button" class="btn btn-primary" onclick="table_edit()">Edit</button></td>
                                                <td id="table_save" class="col-lg-1"><button type="button" class="btn btn-success" onclick="table_save()">Save</button></td>
                                                <td class="col-lg-1"><button type="button" class="btn btn-danger" onclick='DeleteRowFunction(this)'>Delete</button></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Lists the Team Members with the option to edit-->
                    <div class="panel panel-primary">
                        <div class="panel-heading" style="padding-top: 10px;">
                            <h3>Team Members</h3>
                        </div>
                        <div class="team">
                            <!--Entering new team member-->
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table id="myMembertable" class="table table-hover table-dark table-striped">
                                        <thead class="thead-dark">
                                            <tr>
                                                <th>
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" placeholder="Enter New Team Member Here" id="addMember">
                                                        <div class="input-group-btn">
                                                            <button type="button" class="btn btn-success" onclick="addMemberFunction()">
                                                                <span class="glyphicon glyphicon-plus"></span>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="col-lg-8"><p><strong id="Member1">Jim Walden</strong></p></td>
                                                <td class="col-lg-8" id="new_Name"><p><strong></strong></p></td>
                                                <td id="tableEditGroup">
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" placeholder="Enter New Team Member Here" id="editName">

                                                    </div>
                                                </td>
                                                <td class="col-lg-1"><button type="button" class="btn btn-primary" onclick="table_edit()">Edit</button></td>
                                                <td class="col-lg-1"><button type="button" class="btn btn-danger" onclick='DeleteRowFunction(this)'>Delete</button></td>
                                            </tr>
                                            <tr>
                                                <td class="col-lg-8"><p><strong id="Member2">Amanda Pierce</strong></p></td>
                                                <td class="col-lg-8" id="new_Name"><p><strong></strong></p></td>
                                                <td id="tableEditGroup">
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" placeholder="Enter New Team Member Here" id="editName">

                                                    </div>
                                                </td>
                                                <td class="col-lg-1"><button type="button" class="btn btn-primary" onclick="table_edit()">Edit</button></td>
                                                <td class="col-lg-1"><button type="button" class="btn btn-danger" onclick='DeleteRowFunction(this)'>Delete</button></td>
                                            </tr>
                                            <tr>
                                                <td class="col-lg-8"><p><strong id="Member3">Alex Smith</strong></p></td>
                                                <td class="col-lg-8" id="new_Name"><p><strong></strong></p></td>
                                                <td id="tableEditGroup">
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" placeholder="Enter New Team Member Here" id="editName">

                                                    </div>
                                                </td>
                                                <td class="col-lg-1"><button type="button" class="btn btn-primary" onclick="table_edit()">Edit</button></td>
                                                <td class="col-lg-1"><button type="button" class="btn btn-danger" onclick='DeleteRowFunction(this)'>Delete</button></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Lists the Project Risks with the option to edit-->
                    <div class="panel panel-primary">
                        <div class="panel-heading" style="padding-top: 10px;">
                            <h3>Risks</h3>
                        </div>
                        <div class="risks">
                            <!--Entering new risk and risk status-->

                            <div class="table-responsive">
                                <table id="myRisktable" class="table table-hover table-dark table-striped">
                                    <thead class="thead-dark">
                                        <tr>
                                            <td>
                                                <div class="input-group">
                                                    <input type="text" class="form-control" placeholder="Enter New Risk Here" id="addRisk">


                                                </div>
                                            </td>
                                            <td>
                                                <div class="input-group">
                                                    <input type="text" class="form-control" placeholder="Enter New Risk Status" id="addRiskStatus" />
                                                </div>
                                            </td>
                                            <td>
                                                <div class="input-group-btn">
                                                    <button type="button" class="btn btn-success" onclick="addRiskFunction()">
                                                        <span class="glyphicon glyphicon-plus"></span>
                                                    </button>
                                                </div>
                                            </td>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="col-lg-4" id="risk_demo"><p><strong>Lack of Support For Architecture</strong></p></td>
                                            <td class="col-lg-4" id="risk_Name"><p><strong></strong></p></td>
                                            <td id="risk_Edit_group">
                                                <div class="input-group">
                                                    <input type="text" class="form-control" placeholder="Enter New Risk Here" id="editRisk">
                                                </div>
                                            </td>
                                            <td class="col-lg-4" id="status_demo"><p>Status: <strong class="text-danger">At Risk</strong></p></td>
                                            <td class="col-lg-4" id="risk_Status"><p><strong></strong></p></td>
                                            <td id="risk_Edit_Status_group">
                                                <div class="input-group">
                                                    <input type="text" class="form-control" placeholder="Enter New Risk Status Here" id="edit_Risk_Status" />
                                                </div>
                                            </td>
                                            <td id="risk_Edit_button" class="col-lg-1"><button type="button" class="btn btn-primary" onclick="risk_table_edit()">Edit</button></td>
                                            <td id="risk_Save_button" class="col-lg-1"><button type="button" class="btn btn-success" onclick="risk_table_save()">Save</button></td>
                                            <td class="col-lg-1"><button type="button" class="btn btn-danger" onclick='DeleteRowFunction(this)'>Delete</button></td>
                                        </tr>
                                        <tr>
                                            <td class="col-lg-4"><p><strong>Vendor Server Maintenece</strong></p></td>
                                            <td class="col-lg-4" id="risk_Name"><p><strong></strong></p></td>
                                            <td id="risk_Edit_group">
                                                <div class="input-group">
                                                    <input type="text" class="form-control" placeholder="Enter New Risk Here" id="editRisk">
                                                </div>
                                            </td>
                                            <td class="col-lg-4"><p>Status: <strong class="text-warning">Moderate</strong></p></td>
                                            <td class="col-lg-4" id="risk_Status"><p><strong></strong></p></td>
                                            <td id="risk_Edit_Status_group">
                                                <div class="input-group">
                                                    <input type="text" class="form-control" placeholder="Enter New Risk Status Here" id="edit_Risk_Status" />
                                                </div>
                                            </td>
                                            <td class="col-lg-1"><button type="button" class="btn btn-primary" onclick="risk_table_edit()">Edit</button></td>
                                            <td id="risk_Save_button" class="col-lg-1"><button type="button" class="btn btn-success" onclick="risk_table_save()">Save</button></td>
                                            <td class="col-lg-1"><button type="button" class="btn btn-danger" onclick='DeleteRowFunction(this)'>Delete</button></td>
                                        </tr>
                                        <tr>
                                            <td class="col-lg-4"><p><strong>Product License Expires</strong></p></td>
                                            <td class="col-lg-4" id="risk_Name"><p><strong></strong></p></td>
                                            <td id="risk_Edit_group">
                                                <div class="input-group">
                                                    <input type="text" class="form-control" placeholder="Enter New Risk Here" id="editRisk">
                                                </div>
                                            </td>
                                            <td class="col-lg-4"><p>Status: <strong class="text-success">Low Risk</strong></p></td>
                                            <td class="col-lg-4" id="risk_Status"><p><strong></strong></p></td>
                                            <td id="risk_Edit_Status_group">
                                                <div class="input-group">
                                                    <input type="text" class="form-control" placeholder="Enter New Risk Status Here" id="edit_Risk_Status" />
                                                </div>
                                            </td>
                                            <td class="col-lg-1"><button type="button" class="btn btn-primary" onclick="risk_table_edit()">Edit</button></td>
                                            <td id="risk_Save_button" class="col-lg-1"><button type="button" class="btn btn-success" onclick="risk_table_save()">Save</button></td>
                                            <td class="col-lg-1"><button type="button" class="btn btn-danger" onclick='DeleteRowFunction(this)'>Delete</button></td>
                                        </tr>
                                        <tr>
                                            <td class="col-lg-4"><p><strong>Developer Leaves Team</strong></p></td>
                                            <td class="col-lg-4" id="risk_Name"><p><strong></strong></p></td>
                                            <td id="risk_Edit_group">
                                                <div class="input-group">
                                                    <input type="text" class="form-control" placeholder="Enter New Risk Here" id="editRisk">
                                                </div>
                                            </td>
                                            <td class="col-lg-4"><p>Status: <strong class="text-info">Not Assessed</strong></p></td>
                                            <td class="col-lg-4" id="risk_Status"><p><strong></strong></p></td>
                                            <td id="risk_Edit_Status_group">
                                                <div class="input-group">
                                                    <input type="text" class="form-control" placeholder="Enter New Risk Status Here" id="edit_Risk_Status" />
                                                </div>
                                            </td>
                                            <td class="col-lg-1"><button type="button" class="btn btn-primary" onclick="risk_table_edit()">Edit</button></td>
                                            <td id="risk_Save_button" class="col-lg-1"><button type="button" class="btn btn-success" onclick="risk_table_save()">Save</button></td>
                                            <td class="col-lg-1"><button type="button" class="btn btn-danger" onclick='DeleteRowFunction(this)'>Delete</button></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </body>
            </div>
            <div class="modal-footer ">
                <button type="button" class="btn btn-warning btn-lg" style="width: 100%;" data-dismiss="modal"><span class="glyphicon glyphicon-ok-sign"></span> Update</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>

    <!-- /.modal-dialog -->
</div>






<!-- !!!!!!!!REQUIREMENTS MODAL!!!!!!-->
<!-- For some reason the requirements Modal has to be placed after the Details Modal
    However that might just be becaues I might have messed up the formating and changing the place
    of the modals fixed the formatting. IDK-->

<div class="modal fade" id="viewRequirementsModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        
        <div class="modal-content">

            <div class="row text-center">
                <!-- Div in which Functional req accordians are added-->
                <div class="col-sm-5" id="addTo">
                    <h3>Functional Requirements</h3>
                    <div class="col-sm-10">
                        <input type="text" class="form-control text-center" placeholder="Enter Requirement" id="REQInput">
                    </div>
                    <div class="col-sm-2">
                        <button type="button" class="btn btn-success" onclick="createSection()">ADD</button>
                    </div>
                    <h3> Current Requirements </h3>
                    <p>

                        <meta name="viewport" content="width=device-width, initial-scale=1">
                        <style>

                            .block {
                                display: block;
                                width: 100%;
                                border: none;
                                background-color: deepskyblue;
                                color: white;
                                padding: 14px 28px;
                                font-size: 16px;
                                cursor: pointer;
                                text-align: center;
                            }

                                .block:hover {
                                    background-color: #ddd;
                                    color: black;
                                }
                        </style>

                        <div id="toCopy">
                            <div class="col-sm-10">
                                <a class="block" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="true" aria-controls="multiCollapseExample1" id="REQName">FEQ1</a>
                            </div>
                            <div class="col-sm-2">
                                <button type="button" class="btn btn-danger" onclick='DeleteRowFunction(this)'> <span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
                            </div>

                    </p>
                    <div class="row">
                        <div class="col">
                            <div class="collapse multi-collapse" id="multiCollapseExample1">
                                <div class="card card-body">
                                    <p> &emsp;&emsp;&emsp;<b>ACTIVITY&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;HOURS</b></p>
                                    <hr class="col-xs-12">
                                    <div class="col-sm-3"></div>
                                    <div class="col-sm-4">RE Analysis</div>
                                    <div class="col-sm-2">
                                        <input type="text" class="form-control text-center" id="pwd" placeholder="#" name="pwd">
                                    </div>
                                    <div class="col-sm-3"></div>
                                    <hr class="col-xs-12">
                                    <div class="col-sm-3"></div>
                                    <div class="col-sm-4">Designing</div>
                                    <div class="col-sm-2">
                                        <input type="text" class="form-control text-center" id="pwd" placeholder="#" name="pwd">
                                    </div>
                                    <div class="col-sm-3"></div>
                                    <hr class="col-xs-12">
                                    <div class="col-sm-3"></div>
                                    <div class="col-sm-4">Coding</div>
                                    <div class="col-sm-2" style="background-color:white;">
                                        <input type="text" class="form-control text-center" id="pwd" placeholder="#" name="pwd">
                                    </div>
                                    <div class="col-sm-3"></div>
                                    <hr class="col-xs-12">
                                    <div class="col-sm-3"></div>
                                    <div class="col-sm-4" style="background-color:white;">Testing</div>
                                    <div class="col-sm-2" style="background-color:white;">
                                        <input type="text" class="form-control text-center" id="pwd" placeholder="#" name="pwd">
                                    </div>
                                    <div class="col-sm-3"></div>
                                    <hr class="col-xs-12">
                                    <div class="col-sm-3"></div>
                                    <div class="col-sm-4">Project Management</div>
                                    <div class="col-sm-2">
                                        <input type="text" class="form-control text-center" id="pwd" placeholder="#" name="pwd">
                                    </div>
                                    <div class="col-sm-3"></div>
                                </div>
                            </div>
                        </div>
                    </div>



                </div>
                    <div>
                        <hr class="col-xs-12">
                        <div class="col-sm-10">
                            <a class="block" data-toggle="collapse" href="#multiCollapseExample2" role="button" aria-expanded="true" aria-controls="multiCollapseExample2">FEQ2</a>
                        </div>
                        <div class="col-sm-2">
                            <button type="button" class="btn btn-danger" onclick='DeleteRowFunction(this)'> <span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
                        </div>
                    </div>
                <div class="row">
                    <div class="col">
                        <div class="collapse multi-collapse" id="multiCollapseExample2">
                            <div class="card card-body">
                                <p> &emsp;&emsp;&emsp;&emsp;&emsp;<b>ACTIVITY&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;HOURS</b></p>
                                <hr class="col-xs-12">
                                <div class="col-sm-3"></div>
                                <div class="col-sm-4" style="background-color:white;">RE Analysis</div>
                                <div class="col-sm-2" style="background-color:white;">
                                    <input type="text" class="form-control text-center" id="pwd" placeholder="#" name="pwd">
                                </div>
                                <div class="col-sm-3"></div>
                                <hr class="col-xs-12">
                                <div class="col-sm-3"></div>
                                <div class="col-sm-4" style="background-color:white;">Designing</div>
                                <div class="col-sm-2" style="background-color:white;">
                                    <input type="text" class="form-control text-center" id="pwd" placeholder="#" name="pwd">
                                </div>
                                <div class="col-sm-3"></div>
                                <hr class="col-xs-12">
                                <div class="col-sm-3"></div>
                                <div class="col-sm-4" style="background-color:white;">Coding</div>
                                <div class="col-sm-2" style="background-color:white;">
                                    <input type="text" class="form-control text-center" id="pwd" placeholder="#" name="pwd">
                                </div>
                                <div class="col-sm-3"></div>
                                <hr class="col-xs-12">
                                <div class="col-sm-3"></div>
                                <div class="col-sm-4" style="background-color:white;">Testing</div>
                                <div class="col-sm-2" style="background-color:white;">
                                    <input type="text" class="form-control text-center" id="pwd" placeholder="#" name="pwd">
                                </div>
                                <div class="col-sm-3"></div>
                                <hr class="col-xs-12">
                                <div class="col-sm-3"></div>
                                <div class="col-sm-4">Project Management</div>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control text-center" id="pwd" placeholder="#" name="pwd">
                                </div>
                                <div class="col-sm-3"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="collapse multi-collapse" id="multiCollapseExample5">
                            <div class="card card-body">
                                <p> &emsp;&emsp;&emsp;&emsp;&emsp;<b>ACTIVITY&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;HOURS</b></p>
                                <hr class="col-xs-12">
                                <div class="col-sm-3"></div>
                                <div class="col-sm-4" style="background-color:white;">RE Analysis</div>
                                <div class="col-sm-2" style="background-color:white;">
                                    <input type="text" class="form-control text-center" id="pwd" placeholder="#" name="pwd">
                                </div>
                                <div class="col-sm-3"></div>
                                <hr class="col-xs-12">
                                <div class="col-sm-3"></div>
                                <div class="col-sm-4" style="background-color:white;">Designing</div>
                                <div class="col-sm-2" style="background-color:white;">
                                    <input type="text" class="form-control text-center" id="pwd" placeholder="#" name="pwd">
                                </div>
                                <div class="col-sm-3"></div>
                                <hr class="col-xs-12">
                                <div class="col-sm-3"></div>
                                <div class="col-sm-4" style="background-color:white;">Coding</div>
                                <div class="col-sm-2" style="background-color:white;">
                                    <input type="text" class="form-control text-center" id="pwd" placeholder="#" name="pwd">
                                </div>
                                <div class="col-sm-3"></div>
                                <hr class="col-xs-12">
                                <div class="col-sm-3"></div>
                                <div class="col-sm-4" style="background-color:white;">Testing</div>
                                <div class="col-sm-2" style="background-color:white;">
                                    <input type="text" class="form-control text-center" id="pwd" placeholder="#" name="pwd">
                                </div>
                                <div class="col-sm-3"></div>
                                <hr class="col-xs-12">
                                <div class="col-sm-3"></div>
                                <div class="col-sm-4">Project Management</div>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control text-center" id="pwd" placeholder="#" name="pwd">
                                </div>
                                <div class="col-sm-3"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @*above is the code for the left half of the screen, blow is the code for the partition and back button*@
            <div class="col-sm-1">
                <html>
                <head>
                    <meta name="viewport" content="width=device-width, initial-scale=1">
                    <style>

                        .vl {
                            border-right: 6px solid black;
                            height: 300px;
                        }
                    </style>
                </head>
                <body>
                    <div class="vl"></div>
                </body>
            </html>
            <html>
            <head>
                <meta name="viewport" content="width=device-width, initial-scale=1">
                <style>

                    .vl {
                        border-left: 6px solid black;
                        height: 300px;
                    }
                </style>
            </head>
            <body>
                <div class="vl"></div>
            </body>
        </html>
        <button class="btn-danger" data-dismiss="modal" onclick="goBack()">Back</button>
    </div>
    @*Above is the partition, below is the start of the second half of the screen*@
    <div class="container">
        <div class="row text-center">
            <!-- Below Div in which Functional req accordians are added-->
            <div class="col-sm-4" id="addtoNonFunctional">
                <h3>Non-Functional Requirements</h3>
                <div class="col-sm-10">
                    <input type="text" class="form-control text-center" id="NReqInput" placeholder="Enter Requirement" name="pwd">
                </div>
                <div class="col-sm-2">
                    <!--button to add REQ -->
                    <button type="button" class="btn btn-success" onclick="createSectionNonFunctional()">ADD</button>
                </div>
                <h3> Current Requirements </h3>
                <p>
                    <div>
                        <div class="col-sm-10">
                            <a class="block" data-toggle="collapse" href="#multiCollapseExample3" role="button" aria-expanded="true" aria-controls="multiCollapseExample3">FEQ1</a>
                        </div>
                        <div class="col-sm-2">
                            <button type="button" class="btn btn-danger" onclick='DeleteRowFunction(this)'> <span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
                        </div>
                    </div>
                </p>
                <div class="row">
                    <div class="col">
                        <div class="collapse multi-collapse" id="multiCollapseExample3">
                            <div class="card card-body">
                                <p> &emsp;&emsp;&emsp;<b>ACTIVITY&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;HOURS</b></p>
                                <hr class="col-xs-12">
                                <div class="col-sm-3"></div>
                                <div class="col-sm-4">RE Analysis</div>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control text-center" id="pwd" placeholder="#" name="pwd">
                                </div>
                                <div class="col-sm-3"></div>
                                <hr class="col-xs-12">
                                <div class="col-sm-3"></div>
                                <div class="col-sm-4">Designing</div>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control text-center" id="pwd" placeholder="#" name="pwd">
                                </div>
                                <div class="col-sm-3"></div>
                                <hr class="col-xs-12">
                                <div class="col-sm-3"></div>
                                <div class="col-sm-4">Coding</div>
                                <div class="col-sm-2" style="background-color:white;">
                                    <input type="text" class="form-control text-center" id="pwd" placeholder="#" name="pwd">
                                </div>
                                <div class="col-sm-3"></div>
                                <hr class="col-xs-12">
                                <div class="col-sm-3"></div>
                                <div class="col-sm-4" style="background-color:white;">Testing</div>
                                <div class="col-sm-2" style="background-color:white;">
                                    <input type="text" class="form-control text-center" id="pwd" placeholder="#" name="pwd">
                                </div>
                                <div class="col-sm-3"></div>
                                <hr class="col-xs-12">
                                <div class="col-sm-3"></div>
                                <div class="col-sm-4">Project Management</div>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control text-center" id="pwd" placeholder="#" name="pwd">
                                </div>
                                <div class="col-sm-3"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <hr class="col-xs-12">
                    <div class="col-sm-10">
                        <a class="block" data-toggle="collapse" href="#multiCollapseExample4" role="button" aria-expanded="true" aria-controls="multiCollapseExample4">FEQ2</a>
                    </div>
                    <div class="col-sm-2">
                        <button type="button" class="btn btn-danger" onclick='DeleteRowFunction(this)'> <span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="collapse multi-collapse" id="multiCollapseExample4">
                            <div class="card card-body">
                                <p> &emsp;&emsp;&emsp;&emsp;&emsp;<b>ACTIVITY&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;HOURS</b></p>
                                <hr class="col-xs-12">
                                <div class="col-sm-3"></div>
                                <div class="col-sm-4" style="background-color:white;">RE Analysis</div>
                                <div class="col-sm-2" style="background-color:white;">
                                    <input type="text" class="form-control text-center" id="pwd" placeholder="#" name="pwd">
                                </div>
                                <div class="col-sm-3"></div>
                                <hr class="col-xs-12">
                                <div class="col-sm-3"></div>
                                <div class="col-sm-4" style="background-color:white;">Designing</div>
                                <div class="col-sm-2" style="background-color:white;">
                                    <input type="text" class="form-control text-center" id="pwd" placeholder="#" name="pwd">
                                </div>
                                <div class="col-sm-3"></div>
                                <hr class="col-xs-12">
                                <div class="col-sm-3"></div>
                                <div class="col-sm-4" style="background-color:white;">Coding</div>
                                <div class="col-sm-2" style="background-color:white;">
                                    <input type="text" class="form-control text-center" id="pwd" placeholder="#" name="pwd">
                                </div>
                                <div class="col-sm-3"></div>
                                <hr class="col-xs-12">
                                <div class="col-sm-3"></div>
                                <div class="col-sm-4" style="background-color:white;">Testing</div>
                                <div class="col-sm-2" style="background-color:white;">
                                    <input type="text" class="form-control text-center" id="pwd" placeholder="#" name="pwd">
                                </div>
                                <div class="col-sm-3"></div>
                                <hr class="col-xs-12">
                                <div class="col-sm-3"></div>
                                <div class="col-sm-4">Project Management</div>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control text-center" id="pwd" placeholder="#" name="pwd">
                                </div>
                                <div class="col-sm-3"></div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>

</div>
</div>
</div>


<script src="~/js/AddNewProject.js"></script>
