
    <html>
    <head>
        <style>
            body {
                background-color: darkblue;
            }

            h1 {
                color: white;
                text-align: center;
            }

            p {
                color: pink;
                font-family: pink;
                font-size: 20px;
            }
            p{ 
                color: red;

            }
        </style>
    </head>
    <body>

        <h1>----------------Requirements Home page----------------------</h1>
        <p>Functional---------------------------- Non functional </p>
        <p>Enter new Req here--------------------Enter new Req here </p>

    </body>
</html>
}
