@{
    ViewData["Title"] = "ViewDetailsPage";
}

<html>
<head>
    <style>
        .input-group{

            margin-bottom: 30px;
        }

        .panel{
            margin-top: 50px;
            margin-bottom: 75px;
        }
    </style>
</head>

<body>

    <!---Lists the Project Name with the option to edit-->
    <div class="panel panel-primary">
        <div class="panel-body pull-left">
            <h4>Project Name</h4>
        </div>
        <div class="btn-group panel-body pull-right">
            <button type="button" class="btn btn-primary">Edit</button>
        </div>
    </div>


    <!--Lists the High Level Description with the option to add-->
    <div class="panel panel-primary">
        <div class="panel-heading" style="padding-top: 10px;">
            <h3>High-Level Description</h3>
        </div>
        <div class="panel-body">
            <div class="pull-left"><p><strong>Description Text</strong></p></div>
            <div class="btn-group pull-right">
                <button type="button" class="btn btn-primary">Edit</button>
            </div>
        </div>

    </div>

    <!--Lists the Owners with the option to edit-->
    <div class="panel panel-primary">
        <div class="panel-heading" style="padding-top: 10px;">
            <h3>Owner</h3>
        </div>
        <div class="owner">
            <!--Entering new owner-->
            <div class="panel-body">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Enter New Owner Here">
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-success">
                            <span class="glyphicon glyphicon-plus"></span>

                        </button>
                    </div>
                </div>


                <!--Lists of current owner-->

                <div class="table-responsive">
                    <table id="owner-table" class="table table-hover table-dark table-striped">
                        <tbody>
                            <tr>
                                <td class="col-lg-8"><p><strong>Owner Name</strong></p></td>
                                <td class="col-lg-1"><button type="button" class="btn btn-primary">Edit</button></td>
                                <td class="col-lg-1"><button type="button" class="btn btn-danger">Delete</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!--Lists the Team Members with the option to edit-->
    <div class="panel panel-primary">
        <div class="panel-heading" style="padding-top: 10px;">
            <h3>Team Members</h3>
        </div>
        <div class="team">
            <!--Entering new team member-->
            <div class="panel-body">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Enter New Member Here">
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-success">
                            <span class="glyphicon glyphicon-plus"></span>

                        </button>
                    </div>
                </div>


                <!--Lists of current team members-->
                <div class="table-responsive">
                    <table id="member-table" class="table table-hover table-dark table-striped">
                        <tbody>
                            <tr>
                                <td class="col-lg-8"><p><strong>Member Name</strong></p></td>
                                <td class="col-lg-1"><button type="button" class="btn btn-primary">Edit</button></td>
                                <td class="col-lg-1"><button type="button" class="btn btn-danger">Delete</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>

    <!--Lists the Project Risks with the option to edit-->
    <div class="panel panel-primary">
        <div class="panel-heading" style="padding-top: 10px;">
            <h3>Risks</h3>
        </div>
        <div class="risks">
            <!--Entering new team member-->
            <div class="panel-body">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Enter New Risk Here">
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-success">
                            <span class="glyphicon glyphicon-plus"></span>

                        </button>
                    </div>
                </div>

                <div class="table-responsive">
                    <table id="risk-table" class="table table-hover table-dark table-striped">
                        <tbody>
                            <tr>
                                <td class="col-lg-4"><p><strong>Risk Name</strong></p></td>
                                <td class="col-lg-4"><p><strong>Risk Status</strong></p></td>
                                <td class="col-lg-1"><button type="button" class="btn btn-primary">Edit</button></td>
                                <td class="col-lg-1"><button type="button" class="btn btn-danger">Delete</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-around">
        <button type="button" class="btn btn-primary">Save</button>
        <button type="button" class="btn btn-primary">Close</button>
    </div>

</body>
</html>