@{
    ViewData["Title"] = "ViewDetailsPage";
}

<html>
<head>
    <style>
        .input-group{

            margin-bottom: 30px;
        }

        .panel{
            margin-top: 50px;
            margin-bottom: 75px;
        }

        .row{
            margin-top: 20px;
        }

        #description_edit_group{
            
            margin-top: 30px;
        }

        #description_submit{

            margin-top: 10px;
            
        }

        #project_edit_button{

            display:none;
        }
    </style>

    <script>

        function DeleteRowFunction(obj) {
            var p = obj.parentNode.parentNode;
            p.parentNode.removeChild(p);
        }

        function addFunction() {
            var table = document.getElementById("mytable");
            var row = table.insertRow(1);

            // Cell 1
            var projectName = row.insertCell(-1);
            var strong = document.createElement("strong");
            strong.innerHTML = document.getElementById("add").value;
            projectName.appendChild(strong);
        }

        function printing() {

            var x = document.getElementById("myText").value;
            document.getElementById("demo").innerHTML = x;
            document.getElementById("project_name_edit").style.display = "none";
            document.getElementById("project_name_header").style.display = "none";
            document.getElementById("project_edit_button").style.display = "inline";
        }

       function editing() {
            document.getElementById("project_name_edit").style.display = "flex";
            dcoument.getElementById("demo").style.display = "none";
            document.getElementById("project_edit_button").style.display = "none";
        }

        function description_editing() {

            var z = document.getElementById("description").value;
            document.getElementById("description_demo").style.marginTop = "10px";
            document.getElementById("description_demo").style.marginLeft = "10px";
            document.getElementById("description_demo").innerHTML = z;
            document.getElementById("description_edit_group").style.display = "none";
        }

    </script>
</head>

<body>

    <!---Lists the Project Name with the option to edit-->

    <h3 id="project_name_header">Project Name</h3>
    <h3 id="demo"></h3>
    <div class="input-group" id="project_name_edit">
        <input type="text" class="form-control" placeholder="Enter Project Name Here" id="myText">
        <div class="input-group-btn">
            <button type="button" class="btn btn-success" onclick="printing()">
                <span>Save</span>

            </button>
        </div>
    </div>

    <button type="button" class="btn btn-primary" onclick="editing()" id="project_edit_button"><span>Edit</span></button>

    <!--Lists the High Level Description with the option to edit-->
    <div class="panel panel-primary">
        <div class="panel-heading" style="padding-top: 10px;">
            <h3>High-Level Description</h3>
        </div>

        <p id="description_demo"></p>

        <div class="form-group" id="description_edit_group">

            <textarea class="form-control" rows="5" placeholder="Enter Description Here" id="description"></textarea>

            <button type="button" class="btn btn-success" id="description_submit" onclick="description_editing()">
                <span>Submit</span>

            </button>

        </div>
    </div>



    <!--Lists the Owners with the option to edit-->
    <div class="panel panel-primary">
        <div class="panel-heading" style="padding-top: 10px;">
            <h3>Owner</h3>
        </div>
        <div class="owner">
            <!--Entering new owner-->
            <div class="panel-body">
                <!--<div class="input-group">
                    <input type="text" class="form-control" placeholder="Enter New Owner Here">
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-success" onclick="addFunction()" id="add">
                            <span class="glyphicon glyphicon-plus"></span>

                        </button>
                    </div>
                </div>-->
                <!--Lists of current owner-->

                <div class="table-responsive">
                    <table id="mytable" class="table table-hover table-dark table-striped">
                        <thead class="thead-dark">
                            <tr>
                                <th>
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Enter New Owner Here" id="add">
                                        <div class="input-group-btn">
                                            <button type="button" class="btn btn-success" onclick="addFunction()">
                                                <span class="glyphicon glyphicon-plus"></span>
                                            </button>
                                        </div>
                                    </div>
                                </th>
                            </tr>

                        </thead>
                        <tbody>
                            <tr>
                                <td class="col-lg-8"><p><strong>Owner Name</strong></p></td>
                                <td class="col-lg-1"><button type="button" class="btn btn-primary">Edit</button></td>
                                <td class="col-lg-1"><button type="button" class="btn btn-danger" onclick='DeleteRowFunction(this)'>Delete</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!--Lists the Team Members with the option to edit-->
    <div class="panel panel-primary">
        <div class="panel-heading" style="padding-top: 10px;">
            <h3>Team Members</h3>
        </div>
        <div class="team">
            <!--Entering new team member-->
            <div class="panel-body">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Enter New Member Here">
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-success" onclick="addFunction()" id="add">
                            <span class="glyphicon glyphicon-plus"></span>

                        </button>
                    </div>
                </div>


                <!--Lists of current team members-->
                <div class="table-responsive">
                    <table id="member-table" class="table table-hover table-dark table-striped">
                        <tbody>
                            <tr>
                                <td class="col-lg-8"><p><strong>Member Name</strong></p></td>
                                <td class="col-lg-1"><button type="button" class="btn btn-primary">Edit</button></td>
                                <td class="col-lg-1"><button type="button" class="btn btn-danger" onclick='DeleteRowFunction(this)'>Delete</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>

    <!--Lists the Project Risks with the option to edit-->
    <div class="panel panel-primary">
        <div class="panel-heading" style="padding-top: 10px;">
            <h3>Risks</h3>
        </div>
        <div class="risks">
            <!--Entering new risk and risk status
            <div class="panel-body">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Enter New Risk Here">
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-success">
                            <span class="glyphicon glyphicon-plus"></span>

                        </button>
                    </div>
                </div>-->



            <form>
                <div class="row">
                    <div class="form-group col-lg-4">
                        <input type="text" class="form-control" placeholder="Enter New Risk Here">
                    </div>

                    <div class="form-group col-lg-4">
                        <input type="text" class="form-control" placeholder="Enter Risk Status Here">
                    </div>

                    <div class="form-group col-lg-4">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-success">
                                <span>Save</span>

                            </button>
                        </div>
                    </div>
                </div>
            </form>



            <div class="table-responsive">
                <table id="risk-table" class="table table-hover table-dark table-striped">
                    <tbody>
                        <tr>
                            <td class="col-lg-4"><p><strong>Risk Name</strong></p></td>
                            <td class="col-lg-4"><p><strong>Risk Status</strong></p></td>
                            <td class="col-lg-1"><button type="button" class="btn btn-primary">Edit</button></td>
                            <td class="col-lg-1"><button type="button" class="btn btn-danger" onclick='DeleteRowFunction(this)'>Delete</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-around">
        <button type="button" class="btn btn-success">Save</button>
        <button type="button" class="btn btn-danger">Close</button>
    </div>

</body>
</html>