@{
    ViewData["Title"] = "ViewDetailsPage";
}

<html>
<head>
    <style>
        .input-group{

            margin-bottom: 30px;
        }

        .panel{
            margin-top: 50px;
            margin-bottom: 75px;
        }

        .row{
            margin-top: 20px;
        }

        #description_edit_group{
            
            margin-top: 30px;
        }

        #description_submit{

            margin-top: 10px;
            
        }

        #project_edit_button{

            display:none;
        }

        #tableEditGroup{

            display:none;
        }
    </style>

    <script>function DeleteRowFunction(obj) {
            var p = obj.parentNode.parentNode;
            p.parentNode.removeChild(p);
}

function addOwnerFunction() {
            var ownerTable = document.getElementById("myOwnertable");
            var row = ownerTable.insertRow(1);

            // Cell 1
            var ownerName = row.insertCell(-1);
            var strong = document.createElement("strong");
            strong.innerHTML = document.getElementById("addOwner").value;
            ownerName.appendChild(strong);

            // Cell 2 For Edit Button

            var editButton = row.insertCell(-1);
            editButton.innerHTML = "<button type='button' class='btn btn-primary' onclick='table_edit()'>Edit</button>"


            // Cell 3 For Delete Button
            var deleteButton = row.insertCell(-1);
            deleteButton.innerHTML = "<button type='button' class='btn btn-danger' onclick='DeleteRowFunction(this)'>Delete</button>"
}

function addMemberFunction() {
            var memberTable = document.getElementById("myMembertable");
            var row = memberTable.insertRow(1);

            // Cell 1
            var memberName = row.insertCell(-1);
            var strong = document.createElement("strong");
            strong.innerHTML = document.getElementById("addMember").value;
            memberName.appendChild(strong);

            // Cell 2 For Edit Button

            var editButton = row.insertCell(-1);
            editButton.innerHTML = "<button type='button' class='btn btn-primary' onclick='table_edit()'>Edit</button>"


            // Cell 3 For Delete Button
            var deleteButton = row.insertCell(-1);
            deleteButton.innerHTML = "<button type='button' class='btn btn-danger' onclick='DeleteRowFunction(this)'>Delete</button>"
}

function addRiskFunction() {
            var riskTable = document.getElementById("myRisktable");
            var row = riskTable.insertRow(1);

            // Cell 1
            var riskName = row.insertCell(-1);
            var strong = document.createElement("strong");
            strong.innerHTML = document.getElementById("addRisk").value;
            riskName.appendChild(strong);

            // Cell 2
            var riskStatus = row.insertCell(-1);

            var weak = document.createElement("p");
            weak.innerHTML = "Status: <strong>" + document.getElementById("addRiskStatus").value + "</strong>";

            riskStatus.appendChild(weak);

            // Cell 3 For Edit Button

            var editButton = row.insertCell(-1);
            editButton.innerHTML = "<button type='button' class='btn btn-primary' onclick='table_edit()'>Edit</button>"


            // Cell 4 For Delete Button
            var deleteButton = row.insertCell(-1);
            deleteButton.innerHTML = "<button type='button' class='btn btn-danger' onclick='DeleteRowFunction(this)'>Delete</button>"
}

function printing() {

            var x = document.getElementById("myText").value;
            document.getElementById("demo").innerHTML = x;
            document.getElementById("project_name_edit").style.display = "none";
            document.getElementById("project_name_header").style.display = "none";
            document.getElementById("project_edit_button").style.display = "inline";
}

function editing() {
            document.getElementById("project_name_edit").style.display = "flex";
            dcoument.getElementById("demo").style.display = "none";
            document.getElementById("project_edit_button").style.display = "none";
}

function description_editing() {

            var z = document.getElementById("description").value;
            document.getElementById("description_demo").style.marginTop = "10px";
            document.getElementById("description_demo").style.marginLeft = "10px";
            document.getElementById("description_demo").innerHTML = z;
            document.getElementById("description_edit_group").style.display = "none";
}

function table_edit() {

            var y = document.getElementById("editOwnerName").value;
            document.getElementById("tableEditGroup").style.display = "inline";
            document.getElementById("name_field").style.display = "none";
}</script>
</head>

<body>

    <!---Lists the Project Name with the option to edit-->

    <h3 id="project_name_header">Project Name</h3>
    <h3 id="demo"></h3>
    <div class="input-group" id="project_name_edit">
        <input type="text" class="form-control" placeholder="Enter Project Name Here" id="myText">
        <div class="input-group-btn">
            <button type="button" class="btn btn-success" onclick="printing()">
                <span>Save</span>

            </button>
        </div>
    </div>

    <button type="button" class="btn btn-primary" onclick="editing()" id="project_edit_button"><span>Edit</span></button>

    <!--Lists the High Level Description with the option to edit-->
    <div class="panel panel-primary">
        <div class="panel-heading" style="padding-top: 10px;">
            <h3>High-Level Description</h3>
        </div>

        <p id="description_demo"></p>

        <div class="form-group" id="description_edit_group">

            <textarea class="form-control" rows="5" placeholder="Enter Description Here" id="description"></textarea>

            <button type="button" class="btn btn-success" id="description_submit" onclick="description_editing()">
                <span>Submit</span>

            </button>

        </div>
    </div>



    <!--Lists the Owners with the option to edit-->
    <div class="panel panel-primary">
        <div class="panel-heading" style="padding-top: 10px;">
            <h3>Owner</h3>
        </div>
        <div class="owner">

            <!--Entering new owner-->
            <div class="panel-body">

                <!--Lists of current owner-->

                <div class="table-responsive">
                    <table id="myOwnertable" class="table table-hover table-dark table-striped">
                        <thead class="thead-dark">
                            <tr>                             
                                <th>                                  
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Enter New Owner Here" id="addOwner">
                                        <div class="input-group-btn">
                                            <button type="button" class="btn btn-success" onclick="addOwnerFunction()">
                                                <span class="glyphicon glyphicon-plus"></span>
                                            </button>
                                        </div>
                                    </div>
                                </th>
                            </tr>
                            <tr>
                                <th><p style="font-size: 150%;">Owner Name</p></th>
                            </tr>

                        </thead>
                        <tbody>
                            <tr>
                                <td class="col-lg-8" id="name_field"><p><strong>John Doe</strong></p></td>
                                <td id="tableEditGroup">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Enter New Owner Here" id="editOwnerName">


                                    </div>
                                </td>
                                <td class="col-lg-1"><button type="button" class="btn btn-primary" onclick="table_edit()">Edit</button></td>
                                <td class="col-lg-1"><button type="button" class="btn btn-danger" onclick='DeleteRowFunction(this)'>Delete</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!--Lists the Team Members with the option to edit-->
    <div class="panel panel-primary">
        <div class="panel-heading" style="padding-top: 10px;">
            <h3>Team Members</h3>
        </div>
        <div class="team">
            <!--Entering new team member-->
            <div class="panel-body">
                <div class="table-responsive">
                    <table id="myMembertable" class="table table-hover table-dark table-striped">
                        <thead class="thead-dark">
                            <tr>
                                <th>
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Enter New Team Member Here" id="addMember">
                                        <div class="input-group-btn">
                                            <button type="button" class="btn btn-success" onclick="addMemberFunction()">
                                                <span class="glyphicon glyphicon-plus"></span>
                                            </button>
                                        </div>
                                    </div>
                                </th>
                            </tr>
                            <tr>
                                <th><p style="font-size: 150%;">Team Member Names</p></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="col-lg-8"><p><strong>Jim Walden</strong></p></td>
                                <td class="col-lg-1"><button type="button" class="btn btn-primary">Edit</button></td>
                                <td class="col-lg-1"><button type="button" class="btn btn-danger" onclick='DeleteRowFunction(this)'>Delete</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>

    <!--Lists the Project Risks with the option to edit-->
    <div class="panel panel-primary">
        <div class="panel-heading" style="padding-top: 10px;">
            <h3>Risks</h3>
        </div>
        <div class="risks">
            <!--Entering new risk and risk status-->
   

            <div class="table-responsive">
                <table id="myRisktable" class="table table-hover table-dark table-striped">
                    <thead class="thead-dark">
                        <tr>                         
                           <td>
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Enter New Risk Here" id="addRisk">
                                    
                                    
                                </div>
                            </td>
                            <td>
                               <div class="input-group">
                                   <input type="text" class="form-control" placeholder="Enter New Risk Status" id="addRiskStatus" />
                               </div>
                            </td>

                           <td>
                               <div class="input-group-btn">
                                   <button type="button" class="btn btn-success" onclick="addRiskFunction()">
                                       <span class="glyphicon glyphicon-plus"></span>
                                   </button>
                               </div>
                           </td>
                           
                        </tr>

                    </thead>
                    <tbody>
                        <tr>
                            <td class="col-lg-4"><p><strong>Lack of Support For Architecture</strong></p></td>
                            <td class="col-lg-4"><p>Status: <strong class="text-danger">At Risk</strong></p></td>
                            <td class="col-lg-1"><button type="button" class="btn btn-primary">Edit</button></td>
                            <td class="col-lg-1"><button type="button" class="btn btn-danger" onclick='DeleteRowFunction(this)'>Delete</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-around">
        <button type="button" class="btn btn-success">Save</button>
        <button type="button" class="btn btn-danger">Close</button>
    </div>

</body>
</html>